html {
  font-size: 20px;
  position: relative;
}
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  margin: 0;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  color: #ffffff;
  min-height: 100vh;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

hr {
  opacity: 0.5;
  width: 2rem;
  margin-left: 0;
  margin-bottom: 2rem;
}

.container {
  padding: 0 1rem;
}

.titleSmall {
  font-size: 0.8rem;
  font-weight: 200;
  margin-bottom: 0.25rem;
}

.loopingText {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.2;
  min-height: 400px;
}

@media (min-width: 1280px) {
  .loopingText {
    font-size: 2rem;
  }
}

.bookName {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0;
}

.authorName {
  font-size: 0.8rem;
  font-weight: 200;
  opacity: 0.6;
  margin-top: 0.5rem;
}

.bookLink, .twitterLink {
  font-size: 0.8rem;
  color: inherit;
}

.twitterLink {
  opacity: 0.5;
  margin-top: 1.25rem;
  display: inline-block;
}

.formBlock {
  background-color: #ffffff;
  color: black;
  padding: 1rem;
  margin-top: 1.5rem;
}

.svgWaves {
  position: absolute;
  left: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  footer {
    text-align: center;
    margin-bottom: 4rem;
  }
}

footer a {
  color: white;
  font-size: 0.8rem;
  opacity: 0.5;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media (min-width:768px) {
  .mainBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }
  .bookName {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 2rem;
    padding-top: 1rem;
  }
  .loopingText {
    max-width: 90%;
  }
}

@media (min-width: 1280px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
    max-width: 1280px;
    margin: 0 auto;
  }
  .mainBlock {
    grid-template-columns: 2fr 1fr;
  }
}

@media(min-height: 800px) {
  .container {
    padding-top: 3rem;
  }
}

.react-quiz-container h1, .react-quiz-container h2, .react-quiz-container h3, .react-quiz-container h4, .react-quiz-container h5, .react-quiz-container h6, .react-quiz-container a, .react-quiz-container button, .react-quiz-container input, .react-quiz-container option, .react-quiz-container p, .react-quiz-container select, .react-quiz-container table, .react-quiz-container tbody, .react-quiz-container td, .react-quiz-container textarea, .react-quiz-container th, .react-quiz-container thead, .react-quiz-container tr {
  font-family: inherit !important;
  font-size: 1rem !important;
}
.react-quiz-container .card {
  box-shadow: none !important;
  border: none !important;
}

.react-quiz-container .paper-btn.btn-large, .react-quiz-container [type=button].btn-large, .react-quiz-container button.btn-large {
  box-shadow: none !important;
  padding: 0.5rem !important;
  display: block;
  width: 100%;
}
button.btn-large {
  border: 0 !important;
  border-radius: 4px !important;
  text-align: left;
  transition: 0.2s ease-in-out;
  background-color: #e2e3e5 !important;
  color: #383d41 !important;
  border: 1px solid #d6d8db !important;
}
.react-quiz-container .card:hover { transform: none !important; }

.react-quiz-container h1 {
  font-weight: bold !important;
}
.result-question .card-title {
  font-weight: 400 !important;
}

button.btn-large:hover {
  transform: none !important;
  color: #1b1e21 !important;
  background-color: #d6d8d9 !important;
  border: 1px solid #c6c8ca !important;
}

.btn-success.btn-success {
  border: 1px solid #c3e6cb !important;
  background-color: #d4edda !important;
  color: #155724 !important;
}

.btn-danger.btn-danger {
  border: 1px solid #f5c6cb !important;
  background-color: #f8d7da !important;
  color: #721c24 !important;
}

.card-title {
  font-weight: bold !important;
  line-height: 1.3 !important;
}

.react-quiz-container .answer-container button {
  margin-left: 0 !important;
  margin-top: 0 !important;
}

.react-quiz-container .result-question {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.result-question h3.card-title {
  font-size: 0.8rem !important;
}

.result-question button {
  font-size: 0.8rem !important;
  padding: 0.25rem !important;
}

.react-quiz-container .row {
  margin-bottom: 0.25rem !important;
}

.react-quiz-container {
  text-align: left !important;
}

.react-quiz-container .card .card-body {
  padding: 0 !important;
}