html {
  font-size: 20px;
  position: relative;
}
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  margin: 0;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  color: #ffffff;
  min-height: 100vh;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

hr {
  opacity: 0.5;
  width: 2rem;
  margin-left: 0;
  margin-bottom: 2rem;
}

.container {
  padding: 0 1rem;
}

.titleSmall {
  font-size: 0.8rem;
  font-weight: 200;
  margin-bottom: 0.25rem;
}

.loopingText {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.3;
  min-height: 400px;
}

@media (min-width: 1280px) {
  .loopingText {
    font-size: 2rem;
  }
}

.bookName {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0;
}

.authorName {
  font-size: 0.8rem;
  font-weight: 200;
  opacity: 0.6;
  margin-top: 0.5rem;
}

.bookLink, .twitterLink {
  font-size: 0.8rem;
  color: inherit;
}

.twitterLink {
  opacity: 0.5;
  margin-top: 1.25rem;
  display: inline-block;
}

.formBlock {
  background-color: #ffffff;
  color: black;
  padding: 1rem;
  margin-top: 1.5rem;
}

.svgWaves {
  position: absolute;
  left: 0;
  bottom: 0;
}

footer a{
  color: white;
  font-size: 0.8rem;
  opacity: 0.5;
  text-decoration: none;
}

@media (min-width:768px) {
  .mainBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }
  .bookName {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 2rem;
    padding-top: 1rem;
  }
  .loopingText {
    max-width: 90%;
  }
}

@media (min-width: 1280px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
    max-width: 1280px;
    margin: 0 auto;
  }
  .mainBlock {
    grid-template-columns: 2fr 1fr;
  }
}

@media(min-height: 800px) {
  .container {
    padding-top: 3rem;
  }
}
